/* Progress bar
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.scroll-indicator {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #FFF;
}

.progress-bar {
  height: 5px;
  background: var(--navy);
  width: 0%;
}

#logo-container {
  display: grid;
  justify-content: center;
  align-items: right;
}

#header {
  padding: 2rem 8rem 0 8rem;
  display: flex;
  align-items: right;
  justify-content: space-between;
}

.jh-logo {
  width:10rem;
}

.nav-links .jh-logo {
  padding-top: .2rem
}

/**
NAV LINKS
**/
#nav-links {
  padding: 2.2rem 2.2rem 0rem 2.2rem;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--black);
}


#nav-links:active {
  cursor: pointer;
}

#nav-links {
  display: block;
  font-weight: 600;
  ;
}

#nav-links li {
  display: inline-block;
}

#nav-link:hover {
  font-weight: 400;
}

/*MEDIA SCREENS
_____________________________*/
@media screen and (max-width:800px) {
  header {
    flex-direction: column;
    padding: 2rem 0rem 0 0rem;
  }

  #nav-links {
    padding-top: 2rem;
  }
}

@media screen and (min-width:853px) {
  .nav-link, .nav-links {
    font-size: 1.8rem;
  }
}

@media screen and (max-width:852px) {
#nav-link, #nav-links {
    font-size: 1.7rem;
  }
}

@media screen and (min-width:501px) {
  .one:hover~hr {
    margin-left: 10.2%;
  }

  .two:hover~hr {
    margin-left: 34%;
  }

  .three:hover~hr {
    margin-left: 59.5%;
  }

  .four:hover~hr {
    margin-left: 85.5%;
  }
}

@media screen and (max-width:500px) {
  #nav-link {
    padding: 2.2rem 1.6rem 0rem 1.6rem;
  }
/*
  .one:hover~hr {
    margin-left: 10.5%;
  }

  .two:hover~hr {
    margin-left: 32.6%;
  }

  .three:hover~hr {
    margin-left: 58.7%;
  }

  .four:hover~hr {
    margin-left: 85%;
  }*/
}

/* END NAVIGATION STYLES and MEDIA QUERIES */
