
      ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.nav-link {
  color: #FFF;
}


.case-navbar {
  overflow: hidden;
  background-color: #333;
  display:inline-block;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */

a:hover {
  color: var(--gold);
}
.button {
  margin: auto;
}
.quote p {
  border-left:var(--gold);
  color: var(--gold);
}
.purple{
  background-color: #FBF9FD;
}
.section-wide {
  max-width: 120rem;
  margin: auto;
  align-items: center;
}

.top-section {
  padding: 7rem 0 7rem 0;
  display: block;
  background-color: #FBF9FD;
  width: 100%;
  margin: auto;
}

.top-section p {
  padding-bottom: 1rem;
}


/*ShareMe TOP PART
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hero {
  display: grid;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 12rem 0 5rem 0;
}

.case-study-screens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  justify-content: center;
  align-items: center;
  grid-gap: .5rem;
  max-width: 120rem;
}

.case-study-screens img {
  width: 100%;
}

.sub-header {
  font-weight: 400;
  color: var(--gold);
  padding: 4rem 0 0 0;
  text-transform: uppercase;
  text-align: center;
}

.background-shareme-header {
  background-color: #2183E2;
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  /*background: url("../images/assemble-background.jpg");*/
  margin: 0 0 4rem 0;
  /*background-image: linear-gradient(#FDF5F3, #FFFFFF);*/
}

.design-roles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
margin: auto;
max-width: 120rem;
grid-gap: 2.5rem;
text-align: center;
  padding: 2rem;
  box-shadow: 0px 0px 5px 0px rgba(222, 222, 223, 1);
  border-radius: 1rem;
}

.design-roles li{
  list-style-type: none;
  font-size:1.40rem;
}
.design-role-title {
  font-weight: 500;
  color: var(--blue);
  margin-bottom: 1.5rem;
}




.competitive-analysis {
  display: grid;
  grid-gap: 3rem;
  padding: 2rem;
  margin-bottom: 4rem;
}

.competitive-analysis img {
  display: block;
  height: 8rem;
  margin: auto;
}

.pro {
  font-weight: bold;
}

.competitive-analysis p{
  line-height:2.7rem;
  padding-bottom:0.5rem;

}

/*END MAIN STYLINGS*/
.words {
  display: block;
  text-align: center;
  max-width: 90rem;
  margin: 0 2rem 0 2rem;
}


.responsive {
  width: 100%;
  height: auto;
}

/*USER STORIES*/
.user-stories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  justify-content: center;
  padding: 1rem 0 0 0;
}

.user-flows {
  display: block;
  padding: 2rem;
  margin: auto;
}

.user-flows img {
  width: 100%;
}

/*PERSONAS*/
#Thom {
  padding: 2rem;
  background-color: var(--purple);
  box-shadow: 0px 0px 5px 0px rgba(222, 222, 223, 1);
  border-radius: 1rem;
}

#Tessa {
  padding: 2rem;
  background-color: var(--purple);
  box-shadow: 0px 0px 5px 0px rgba(222, 222, 223, 1);
  border-radius: 1rem;
}

.section-personas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: auto;
  grid-gap: 3rem;
}

.persona-section {
  padding-bottom: 5rem;
  padding-top: 3em;
}

.persona-name {
  font-weight: 600;
  padding-top: 2.5rem;
  color: var(--black);
  font-family: 'nunito', sans-serif;
}



.survey-percent {
  color: var(--black);
  font-weight: 500;
  text-align: center;
  padding-bottom: 1rem;
}

.text-color p {
  color: var(--black);
}

.text-color li {
  color: var(--black);
}

.text-section {
  max-width: 120rem;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.percent-section-block2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  max-width: 110rem;
  justify-content: center;
  padding: 2rem 0 3rem 0;
  text-align: center;
  margin: auto;
}

.survey-percent5, .survey-percent7 {
  margin: 0 2rem 0 2rem;
}

.ab-testing img {
  width: 100%;
}

.percent-text {
  display: block;
  width: 50%
}

.text-box {
  margin: 0 3rem 0 3rem;
}

.purple2-background {
  background-color: var(--purple);
  margin: auto;
  margin-top: 5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(222, 222, 223, 1);
}

.survey2-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 0 3rem 0 3rem;
  padding-bottom: 2rem;
  grid-gap: 5rem;
}

/*END SURVEY*/
/*BRANDING*/


/*USABILITY TESTING*/
.usability-1-2 {
  display: grid;
  grid-template-columns: 1fr .7fr;
  align-items: center;
  grid-gap: 3rem;
  margin: auto;
  max-width: 120rem;
  padding-top: 2rem;
}

.usability-1-2 img {
  margin: auto;
  width: 100%;
}

.usability img {
  width: 3.5rem;
}


.image-description p {
  padding: 1rem 2rem 0 2rem;
}

.grid-columns-2 img {
  width: 100%;
}

.grid-columns-2 {
  padding: 2rem;
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5rem;
  padding: 2rem;
  justify-content: center;
}

.colors img {
  margin: auto;
  width: 100%;
}

.typography {
  padding: 2rem;
  text-align: center;
}

.contact-section-background{
  background-color:var(--purple);
}


.highlight {
    background-image: linear-gradient(180deg,rgba(255,255,255,0) 70%, #C2E5FF 20%);
}


/*MEDIA QUERIES START*/
@media screen and (max-width:999px) {
  .user-stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 90rem;
    grid-gap: 3rem;
    justify-content: center;
    padding: 3rem 0 0 0;
  }

  .section-title {
    padding: 1rem 0rem 0 0rem;
  }

  .usability-1-2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width:850px) {
  #arrow-down {
    display: block;
  }

  #arrow-right {
    display: none;
  }

  .layering-skin2 {
    display: block;
  }

  .layering-skin1 {
    display: none;
  }

  .layering-skin2 img {
    width: 100%;
  }

  .grid-columns-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
  }

  .section-personas {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }

  .mind-mapping {
    grid-gap: 0;
  }

  .golden-ratio {
    display: grid;
    grid-template-rows: 1fr .5fr 1fr .5fr 1fr;
    margin: auto;
  }

  .case-study-screens {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }


  .logo-sketches img {
    max-height: 70rem;
  }

  .mind-mapping img {
    max-height: 70rem;
  }

  .purple2-background {
    width: 75%;
  }

}

@media screen and (min-width:851px) {

  .layering-skin1 {
    display: block;
  }

  .layering-skin1 img {
    width: 100%;
  }

  .layering-skin2 {
    display: none;
  }

  .competitive-analysis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .golden-ratio {
    display: grid;
    grid-template-rows: 1fr .5fr 1fr .5fr 1fr;
    margin: auto;
  }





  .grid-columns-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: auto;
  }
}

@media screen and (min-width:896px) {
  .sub-header {
    font-size: 2rem;
  }

  .design-role-title {
    font-size: 2.1rem;
  }

  .persona-titles, .persona-titles-bold {
    font-size: 2rem;
  }

  .survey-percent {
    font-size: 4rem;
  }

  .typography p {
    font-size: 2.4rem;
  }

  .quote p {
    line-height: 3rem;
    font-size: 2rem;
  }
}

@media screen and (max-width:895px) {
  .sub-header, .design-role-title {
    font-size: 1.8rem;
  }

  .persona-titles, .quote, .persona-titles-bold p {
    font-size: 1.6rem;
  }

  .colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .survey-percent {
    font-size: 3.4rem;
  }

  .typography p {
    font-size: 2rem;
  }

  .quote p {
    line-height: 2.55rem;
  }

}



@media screen and (min-width:651px) {
  .design-roles {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  max-width: 120rem;
  grid-gap: 2.5rem;
  text-align: center;
}


  .deliverables {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .responsive{
    width: 100%;
  height: auto;

  }

  .responsive-a{
    width: 50%;
  height: auto;

  }


}

@media screen and (max-width:650px) {
  .design-roles {
    display: flex;
    grid-template-rows: .5fr .5fr .5fr;
    margin-bottom:0;
    grid-gap: 1rem;
    text-align: center;
    padding:0;
    box-shadow: 0px 0px 0px 0px;
    border-radius:0;
  }

.design-role-title{
  font-size:1.2rem;
  font-weight:200;
}
  .survey2-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }

  .responsive{
    width: 50%;
  height: auto;

  }

  .grid-columns-2 img {
    width: 75%;
    align-items: center;
  }

  .percent-section-block2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem 2rem 2rem;
    grid-gap: 2rem;
  }

  .words img {
    padding-bottom: 3rem;
  }

  .responsive{
    width: 80%;
  height: auto;

  }
  .main-section{
  overflow-y: hidden;
padding-left:1.5rem;
}


.hero {
    display: grid;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 4rem 0 5rem 0;
}

}
